[Unit]
Description=Livebook
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Restart=always
Type=simple
ExecStart=/usr/bin/docker start livebook

[Install]
WantedBy=multi-user.target
